<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sj.movie.mapper.GradeMovieMapper">
	<select id="getGradeName" resultType="string">
		SELECT movie.name FROM (SELECT * FROM t_movie ORDER BY score DESC) AS movie
		LIMIT #{one},#{two};
	</select>
	<resultMap type="Purchase" id="PurchaseData">
		<result property="movieName" column="movie_name" />
		<result property="showTime" column="show_time" />
		<result property="category" column="category" />
		<result property="score" column="score" />
		<result property="cinemaName" column="cinema_name" />
		<result property="address" column="address" />
		<result property="playTime" column="play_time" />
		<result property="platform" column="platform" />
		<result property="price" column="price" />
		<result property="href" column="href" />
		<result property="favoriteId" column="favorite_id" />
	</resultMap>


	<resultMap type="Movie" id="GradeData">
		<result property="name" column="name" />
		<!--<result property="actors" column="actors" />-->
		<result property="catagory" column="catagory" />
		<result property="show_time" column="show_time" />
		<result property="duration" column="duration" />
		<!--<result property="actors" column="actors" />-->

		<result property="score" column="score" />
		<collection property="data" ofType="Purchase" javaType="java.util.List"
			resultMap="PurchaseData">
		</collection>
	</resultMap>



	<select id="getGradeData" resultMap="GradeData">
		SELECT
		t_movie.name,
		t_movie.catagory,
		t_movie.show_time as showTime,
		t_movie.duration,
		t_movie.score,
		t_purchase.movie_name as movieName,
		t_purchase.show_time as showTime,
		t_purchase.category,
		t_purchase.score,
		t_purchase.cinema_name as cinemaName,
		t_purchase.address,
		t_purchase.play_time as playTime,
		t_purchase.platform,
		t_purchase.price,
		t_purchase.href,
		t_purchase.favorite_id as favoriteId

		FROM t_movie,t_purchase


		WHERE t_purchase.play_time BETWEEN #{oneday} AND #{towday} and
		t_purchase.movie_name=#{name} and t_movie.name=#{name} LIMIT 0,2;

	</select>





	<select id="getGradeMovieCountMapper" resultType="Integer">
		SELECT COUNT(*) FROM t_movie WHERE t_movie.status='正在热映';
	</select>
	
	<select id="getCinema" resultType="Cinema">
	    SELECT * FROM t_cinema WHERE t_cinema.name=#{cinameName};
	</select>
	
	<select id="selectPurchase" resultType="Purchase">	    
	      SELECT p.*, tmp2.distance
          FROM t_purchase p
          RIGHT JOIN
          (SELECT c.address,
             ROUND(6371.393 * 2 * ASIN(SQRT(POW(SIN((#{l_lat} * 3.1415926 / 180 - lat * PI() / 180) / 2), 2) +
                                                 COS(#{l_lat} * 3.1415926 / 180) * COS(lat * PI() / 180) * POW(
                                                SIN((#{l_lng} * 3.1415926 / 180 - lng * PI() / 180) / 2), 2))),
                   2) AS distance  
            FROM (SELECT movie_name, address, cinema_name
            FROM t_purchase
            WHERE movie_name = #{movieName}
            GROUP BY address, cinema_name) tmp1
               RIGHT JOIN t_cinema c ON tmp1.address = c.address) tmp2 ON p.address = tmp2.address
            WHERE p.movie_name = #{movieName} AND p.play_time&gt;NOW() AND tmp2.distance&lt;5 
            ORDER BY tmp2.distance             
	</select>
	
	<select id="selectAllMovie" resultType="Movie">	    
          SELECT t_movie.* FROM t_movie 
                  LEFT JOIN t_purchase 
                  ON 
                     t_movie.name=t_purchase.movie_name
                  LEFT JOIN t_cinema 
                  ON
                     t_purchase.cinema_name = t_cinema.name
          WHERE
               t_purchase.play_time&gt;NOW()
               AND
               ROUND(6371.393 * 2 * ASIN(SQRT(POW(SIN((#{l_lat} * 3.1415926 / 180 - t_cinema.lat * PI() / 180) / 2), 2) +
                                                   COS(#{l_lat} * 3.1415926 / 180) * COS(t_cinema.lat * PI() / 180) * POW(
                                                  SIN((#{l_lng} * 3.1415926 / 180 - t_cinema.lng * PI() / 180) / 2), 2))),2)&lt;5
          GROUP BY t_movie.name       
	</select>
	
	

</mapper> 












