<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sj.movie.mapper.PurchaseSortMapper">

<select id="sortPlayTime" resultType="Purchase" >
	select *
	from t_purchase
	where movie_name=#{name}
	and play_time between #{todaytime} and #{tomorrowtime}
	group by cinema_name
</select>

</mapper> 












