<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>电影推荐-更多购票方案</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel='icon' href='favicon.ico' type='image/x-ico'/>
    <link href="resources/css/jquery-ui-themes.css" type="text/css" rel="stylesheet"/>
    <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet"/>
    <link href="data/styles.css" type="text/css" rel="stylesheet"/>
    <link href="files/buy_list/styles.css" type="text/css" rel="stylesheet"/>
    <style>
        .table {
            width: 1100px;
            position: absolute;
            left: 330px;
            top: 270px;
            border: 0.1px solid #e6e6e6;
        }

        .table-header {
            width: 52px;
            white-space: nowrap;
            color: #40C0A2;
            font-weight: 700;
            border: 0.1px solid #e6e6e6;
            padding: 4px 0px;
        }

        .table-body {
            width: 52px;
            white-space: nowrap;
            border: 0.1px solid #e6e6e6;
            padding: 4px 0px;
        }

        .page-table {
            position: relative;
            left: 380px;
            width: 350px;
        }

        .page-td {
            text-align: center;
            white-space: nowrap;
            padding: 2px;
        }

        ul.imglist{ margin:0 auto; width:1100px; overflow:hidden}
        ul.imglist li{ float:left; padding:20px 10px; width:160px; height: 255px; list-style:none;}
        ul.imglist li img{ display:block; width:160px; height:90px}
        ul.imglist li span{ display:block; width:100%; height:30px; line-height:30px; background:#F6F6F6}
    </style>
    <!--<script src="resources/scripts/jquery-1.7.1.min.js"></script>
    <script src="resources/scripts/jquery-ui-1.8.10.custom.min.js"></script>
    <script src="resources/scripts/axure/axQuery.js"></script>
    <script src="resources/scripts/axure/globals.js"></script>
    <script src="resources/scripts/axutils.js"></script>
    <script src="resources/scripts/axure/annotation.js"></script>
    <script src="resources/scripts/axure/axQuery.std.js"></script>
    <script src="resources/scripts/axure/doc.js"></script>
    <script src="data/document.js"></script>
    <script src="resources/scripts/messagecenter.js"></script>
    <script src="resources/scripts/axure/events.js"></script>
    <script src="resources/scripts/axure/recording.js"></script>
    <script src="resources/scripts/axure/action.js"></script>
    <script src="resources/scripts/axure/expr.js"></script>
    <script src="resources/scripts/axure/geometry.js"></script>
    <script src="resources/scripts/axure/flyout.js"></script>
    <script src="resources/scripts/axure/ie.js"></script>
    <script src="resources/scripts/axure/model.js"></script>
    <script src="resources/scripts/axure/repeater.js"></script>
    <script src="resources/scripts/axure/sto.js"></script>
    <script src="resources/scripts/axure/utils.temp.js"></script>
    <script src="resources/scripts/axure/variables.js"></script>
    <script src="resources/scripts/axure/drag.js"></script>
    <script src="resources/scripts/axure/move.js"></script>
    <script src="resources/scripts/axure/visibility.js"></script>
    <script src="resources/scripts/axure/style.js"></script>
    <script src="resources/scripts/axure/adaptive.js"></script>
    <script src="resources/scripts/axure/tree.js"></script>
    <script src="resources/scripts/axure/init.temp.js"></script>
    <script src="files/buy_list/data.js"></script>
    <script src="resources/scripts/axure/legacy.js"></script>
    <script src="resources/scripts/axure/viewer.js"></script>
    <script src="resources/scripts/axure/math.js"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>-->
</head>
<body>
<div id="base" class="">

    <!-- Unnamed (矩形) -->
    <div id="u793" class="ax_default box_1">
        <div id="u793_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u794" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u795" class="ax_default box_1">
        <div id="u795_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u796" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- address (组合) -->
    <div id="u797" class="ax_default" data-label="address">

        <!-- Unnamed (组合) -->
        <div id="u798" class="ax_default">

            <!-- Unnamed (矩形) -->
            <div id="u799" class="ax_default label">
                <div id="u799_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u800" class="text" style="visibility: visible;">
                    <p><span>您当前的位置：</span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u801" class="ax_default label">
                <div id="u801_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u802" class="text" style="visibility: visible;">
                    <p><span>成都市锦江区成都日报大厦</span></p>
                </div>
            </div>

            <!-- Unnamed (正水滴形) -->
            <div id="u803" class="ax_default">
                <img id="u803_img" class="img " src="images/index/u31.png"/>
                <!-- Unnamed () -->
                <div id="u804" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>

            <!-- Unnamed (矩形) -->
            <div id="u805" class="ax_default label">
                <div id="u805_div" class=""></div>
                <!-- Unnamed () -->
                <div id="u806" class="text" style="visibility: visible;">
                    <p><span style="text-decoration:underline;">选择其他位置</span></p>
                </div>
            </div>
        </div>

        <!-- Unnamed (椭圆形) -->
        <div id="u807" class="ax_default">
            <img id="u807_img" class="img " src="images/index/u35.png"/>
            <!-- Unnamed () -->
            <div id="u808" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u809" class="ax_default label">
        <div id="u809_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u810" class="text" style="visibility: visible;">
            <p><span>请选择您的观影时段：</span></p>
        </div>
    </div>

    <!-- 电影图片 -->
    <div id="u811" class="ax_default _图片">
        <img id="u811_img" class="img" th:src="'http://image' + ${movie_info.location}" src="images/buy_list/u811.png"/>
        <!-- Unnamed () -->
        <div id="u812" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- 名称 -->
    <div id="u813" class="ax_default label">
        <div id="u813_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u814" class="text" style="visibility: visible;">
            <p><span th:text="${movie_info.name}">反贪风暴4</span></p>
        </div>
    </div>
    <div id="u815" class="ax_default _文本段落">
        <img id="u815_img" class="img" src="images/index/u78.png"/>
        <!-- Unnamed () -->
        <div id="u816" class="text" style="visibility: visible;">
            <p><span th:text="${movie_info.showTime}">2019-04-04大陆上映</span></p>
        </div>
    </div>
    <div id="u817" class="ax_default _文本段落">
        <img id="u817_img" class="img " src="images/index/u80.png"/>
        <!-- Unnamed () -->
        <div id="u818" class="text" style="visibility: visible;">
            <p><span th:text="${movie_info.catagory}">剧情,动作,犯罪</span></p>
        </div>
    </div>
    <div id="u819" class="ax_default label">
        <div id="u819_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u820" class="text" style="visibility: visible;">
            <p><span th:text="${movie_info.score}">豆瓣评分：9.1</span></p>
        </div>
    </div>

    <div id="u821" class="ax_default label">
        <div id="u821_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u822" class="text" style="visibility: visible;">
            <p><span>购票方案：</span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u823" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u824" class="ax_default shape">
            <div id="u824_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u825" class="text" style="visibility: visible;">
                <p><span>观影时间：2019-05-09&nbsp;&nbsp; </span></p>
            </div>
        </div>

        <!-- Unnamed (组合) -->
        <div id="u826" class="ax_default">

            <!-- Unnamed (图片) -->
            <div id="u827" class="ax_default image1">
                <img id="u827_img" class="img " src="images/index/datechoose-icon_u43.png"/>
                <!-- Unnamed () -->
                <div id="u828" class="text" style="display: none; visibility: hidden">
                    <p><span></span></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Unnamed (文本段落) -->
    <div id="u829" class="ax_default _文本段落">
        <img id="u829_img" class="img " src="images/index/u106.png"/>
        <!-- Unnamed () -->
        <div id="u830" class="text" style="visibility: visible;">
            <p><span>&nbsp;时长 : 98分钟 </span></p>
        </div>
    </div>

    <!-- Unnamed (文本段落) -->
    <div id="u831" class="ax_default _文本段落">
        <img id="u831_img" class="img " src="images/buy_list/u831.png"/>
        <!-- Unnamed () -->
        <div id="u832" class="text" style="visibility: visible;">
            <p><span style="font-family:'Arial Normal', 'Arial';font-weight:400;"><br></span></p>
            <p><span
                    style="font-family:'Arial Negreta', 'Arial Normal', 'Arial';font-weight:700;color:#40C0A2;">剧情简介</span>
            </p>
            <p><span style="font-family:'Arial Normal', 'Arial';font-weight:400;"><br></span></p>
            <p><span style="font-family:'Arial Normal', 'Arial';font-weight:400;" th:text="${movie_info.introduction}">简介简介简介简介简介简介</span>
            </p>
            <p><span style="font-family:'Arial Normal', 'Arial';font-weight:400;"><br></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u881" class="ax_default label">
        <div id="u881_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u882" class="text" style="visibility: visible;">
            <p><span>演员列表</span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u883" class="ax_default box_1">
        <div id="u883_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u884" class="text" style="visibility: visible;">
            <p><span><br></span></p>
            <p><span><br></span></p>
            <p><span>关于电影推荐 : 关于我们&nbsp; &nbsp; &nbsp;&nbsp; 友情链接 : 美团网 格瓦拉 美团下载 欢喜首映</span></p>
            <p><span><br></span></p>
            <p><span><br></span></p>
            <p><span>©2019 电影推荐 ttmovie.com 蜀ICP证666666号&nbsp; xxxxxx经营许可证 </span></p>
            <p><span><br></span></p>
            <p><span>xxxxx有限公司</span></p>
            <p><span><br></span></p>
        </div>
    </div>

    <!-- Unnamed (矩形) -->
    <div id="u885" class="ax_default box_1">
        <div id="u885_div" class=""></div>
        <!-- Unnamed () -->
        <div id="u886" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- Unnamed (组合) -->
    <div id="u887" class="ax_default">

        <!-- Unnamed (矩形) -->
        <div id="u888" class="ax_default shape">
            <div id="u888_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u889" class="text" style="visibility: visible;">
                <p><span>成都</span></p>
            </div>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u890" class="ax_default image1">
            <img id="u890_img" class="img " src="images/index/选择符_u7.png"/>
            <!-- Unnamed () -->
            <div id="u891" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>
    </div>

    <!-- 回到首页 -->
    <div id="u892" class="ax_default">

        <div id="u893" class="ax_default box_1 selected" data-label="最新" selectiongroup="首页导航">
            <div id="u893_div" class="selected"></div>
            <!-- Unnamed () -->
            <div id="u894" class="text" style="visibility: visible;">
                <a href="/" style="text-decoration:none;"><span style="font-size: 16px; color: rgb(64, 192, 162);">回到首页</span></a>
            </div>
        </div>

        <!--<div id="u895" class="ax_default box_1" data-label="豆瓣" selectiongroup="首页导航">
            <div id="u895_div" class=""></div>
            <div id="u896" class="text" style="visibility: visible;">
                <p><span>豆瓣高分</span></p>
            </div>
        </div>

        <div id="u897" class="ax_default box_1">
            <div id="u897_div" class=""></div>
            <div id="u898" class="text" style="visibility: visible;">
                <p><span>/</span></p>
            </div>
        </div>-->
    </div>

    <!-- Unnamed (组合) -->
    <div id="u899" class="ax_default">

        <!-- Unnamed (图片) -->
        <div id="u900" class="ax_default image">
            <img id="u900_img" class="img " src="images/index/u728.png"/>
            <!-- Unnamed () -->
            <div id="u901" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u902" class="ax_default label">
            <div id="u902_div" class=""></div>
            <!-- Unnamed () -->
            <div id="u903" class="text" style="visibility: visible;">
                <p><span>收藏夹</span></p>
            </div>
        </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u904" class="ax_default image">
        <img id="u904_img" class="img " src="images/index/u652.png"/>
        <!-- Unnamed () -->
        <div id="u905" class="text" style="display: none; visibility: hidden">
            <p><span></span></p>
        </div>
    </div>

    <!-- login_status (动态面板) -->
    <div id="u906" class="ax_default" data-label="login_status">
        <div id="u906_state0" class="panel_state" data-label="未登录">
            <div id="u906_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u907" class="ax_default box_1">
                    <div id="u907_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u908" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u909" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u910" class="ax_default label">
                        <div id="u910_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u911" class="text" style="visibility: visible;">
                            <p><span>登录</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u912" class="ax_default label">
                        <div id="u912_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u913" class="text" style="visibility: visible;">
                            <p><span>注册</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (垂直线) -->
                    <div id="u914" class="ax_default line">
                        <img id="u914_img" class="img " src="images/index/u611.png"/>
                        <!-- Unnamed () -->
                        <div id="u915" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="u906_state1" class="panel_state" data-label="已登录" style="display: none; visibility: hidden;">
            <div id="u906_state1_content" class="panel_state_content">

                <!-- Unnamed (图片) -->
                <div id="u916" class="ax_default image">
                    <img id="u916_img" class="img " src="images/index/u613.png"/>
                    <!-- Unnamed () -->
                    <div id="u917" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u918" class="ax_default label">
                    <div id="u918_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u919" class="text" style="visibility: visible;">
                        <p><span>欢迎您！</span></p>
                    </div>
                </div>

                <!-- output_username (矩形) -->
                <div id="u920" class="ax_default label" data-label="output_username">
                    <div id="u920_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u921" class="text" style="visibility: visible;">
                        <p><span>唐三藏唐三藏</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u922" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u923" class="ax_default label">
                        <div id="u923_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u924" class="text" style="visibility: visible;">
                            <p><span>退出</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (图片) -->
                    <div id="u925" class="ax_default image">
                        <img id="u925_img" class="img " src="images/index/u622.png"/>
                        <!-- Unnamed () -->
                        <div id="u926" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="u935" class="ax_default" data-label="search">
        <div id="u936" class="ax_default box_1">
            <div id="u936_div" class=""></div>
            <div id="u937" class="text" style="display: none; visibility: hidden">
                <p><span></span></p>
            </div>
        </div>
        <div id="u938" class="ax_default button">
            <div id="u938_div" class=""></div>
            <div id="u939" class="text" style="visibility: visible;">
                <p><span>搜索</span></p>
            </div>
        </div>
        <div id="u940" class="ax_default text_field">
            <input id="u940_input" type="text" value=""/>
        </div>
    </div>

    <!-- 演员列表 -->
    <ul class="imglist" style="left: 165px; top:800px;position: relative;">
        <th:block th:each="actor: ${movie_info.actors}">
            <li>
                <a href="#" style="text-decoration:none;">
                    <img th:src="'http://image' + ${actor.actorLocation}" src="images/i160x90.jpg" style="width: 160px;height: 217px;" />
                    <span th:text="${actor.actorName} + '  /' + ${actor.actorRole}" style="text-align: center">文本内容</span>
                </a>
            </li>
        </th:block>
    </ul>


    <!-- 购票信息列表 -->
    <div id="u965" class="ax_default">
        <!--影院列表-->
        <table class="ax_default table" cellpadding="0" cellspacing="0">
            <tr>
                <td class="table-header"></td>
                <td class="table-header">影院名称</td>
                <td class="table-header">放映时间</td>
                <td class="table-header">购票平台</td>
                <td class="table-header">影院地址</td>
                <td class="table-header">距离</td>
                <td class="table-header">票价</td>
                <td class="table-header">操作</td>
            </tr>
            <tr th:each="pur,sta : ${purchase_page.list}">
                <td th:text="${sta.index + 1}" class="table-body">1</td>
                <td th:text="${pur.cinemaName}" class="table-body">太平洋影院</td>
                <td th:text="${#dates.format(pur.playTime, 'yyyy-MM-dd HH:mm')}" class="table-body">10:00</td>
                <td th:text="${pur.platform}" class="table-body">猫眼</td>
                <td th:text="${pur.address}" class="table-body">成都市锦江区春熙路</td>
                <td class="table-body">1.2km</td>
                <td th:text="${pur.price}" class="table-body">￥39.9</td>
                <td class="table-body"><a th:href="@{${pur.href}}" href="#">购票</a>&nbsp;&nbsp;<a href="#">收藏</a></td>
            </tr>
            <tr>
                <td colspan="8" style="text-align: center">
                    <table class="page-table">
                        <tr>
                            <td th:if="!${purchase_page!=null?purchase_page.isFirstPage:true}" class="table-body page-td">
                                <a th:href="@{'/' + ${page_url?:''} + '?page=1&' + ${page_params?:''}}"
                                   style="text-decoration:none;">首页</a>
                            </td>
                            <td th:if="${purchase_page?.hasPreviousPage}" class="table-body page-td">
                                <a th:href="@{'/' + ${page_url?:''} + '?page=' +${purchase_page.prePage} + '&' + ${page_params?:''}}"
                                   href="#" style="text-decoration:none;">上一页</a>
                            </td>
                            <th:block th:each="page : ${purchase_page?.navigatepageNums}">
                                <td th:style="${purchase_page.pageNum == page}?'background-color: #40C0A2;'" class="table-body page-td">
                                    <a th:text="${page}" th:href="@{'/' + ${page_url?:''} + '?page=' + ${page} + '&' + ${page_params?:''}}"
                                       href="#" style="text-decoration:none;">4</a>
                                </td>
                            </th:block>
                            <td th:if="${purchase_page?.hasNextPage}" class="table-body page-td">
                                <a th:href="@{'/' + ${page_url?:''} + '?page=' +${purchase_page.nextPage} + '&' + ${page_params?:''}}"
                                   href="#" style="text-decoration:none;">下一页</a>
                            </td>
                            <td th:if="!${purchase_page!=null?purchase_page.isLastPage:true}" class="table-body page-td">
                                <a th:href="@{'/' + ${page_url?:''} + '?page=' +${purchase_page.pages} + '&' + ${page_params?:''}}"
                                   href="#" style="text-decoration:none;">尾页</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

    <!-- 登录/注册 (动态面板) -->
    <div id="u1126" class="ax_default ax_default_hidden" data-label="登录/注册" style="display: none; visibility: hidden">
        <div id="u1126_state0" class="panel_state" data-label="登录">
            <div id="u1126_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u1127" class="ax_default box_1">
                    <div id="u1127_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1128" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1129" class="ax_default box_3">
                    <div id="u1129_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1130" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1131" class="ax_default label">
                    <div id="u1131_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1132" class="text" style="visibility: visible;">
                        <p><span>用户登录</span></p>
                    </div>
                </div>

                <!-- Unnamed (占位符) -->
                <div id="u1133" class="ax_default placeholder">
                    <img id="u1133_img" class="img " src="images/index/u631.png"/>
                    <!-- Unnamed () -->
                    <div id="u1134" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u1135" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u1136" class="ax_default box_1">
                        <div id="u1136_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1137" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- input_password (文本框) -->
                    <div id="u1138" class="ax_default text_field" data-label="input_password">
                        <input id="u1138_input" type="password" value=""/>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1139" class="ax_default box_1">
                    <div id="u1139_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1140" class="text" style="visibility: visible;">
                        <p><span>登录</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u1141" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u1142" class="ax_default box_1">
                        <div id="u1142_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1143" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- input_username (文本框) -->
                    <div id="u1144" class="ax_default text_field" data-label="input_username">
                        <input id="u1144_input" type="text" value=""/>
                    </div>

                    <!-- Unnamed (图片) -->
                    <div id="u1145" class="ax_default image">
                        <img id="u1145_img" class="img " src="images/index/u613.png"/>
                        <!-- Unnamed () -->
                        <div id="u1146" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1147" class="ax_default label">
                    <div id="u1147_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1148" class="text" style="visibility: visible;">
                        <p><span>欢迎登录</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u1149" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u1150" class="ax_default label">
                        <div id="u1150_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1151" class="text" style="visibility: visible;">
                            <p><span style="text-decoration:underline;">忘记密码？</span></p>
                        </div>
                    </div>

                    <!-- Unnamed (矩形) -->
                    <div id="u1152" class="ax_default label">
                        <div id="u1152_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1153" class="text" style="visibility: visible;">
                            <p><span style="text-decoration:underline;">注册</span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u1154" class="ax_default image">
                    <img id="u1154_img" class="img " src="images/index/u652.png"/>
                    <!-- Unnamed () -->
                    <div id="u1155" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u1156" class="ax_default image">
                    <img id="u1156_img" class="img " src="images/index/u654.png"/>
                    <!-- Unnamed () -->
                    <div id="u1157" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- tip (组合) -->
                <div id="u1158" class="ax_default" data-label="tip">

                    <!-- tip_userinput (矩形) -->
                    <div id="u1159" class="ax_default label" data-label="tip_userinput">
                        <div id="u1159_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1160" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- tip_passwordinput (矩形) -->
                    <div id="u1161" class="ax_default label" data-label="tip_passwordinput">
                        <div id="u1161_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1162" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- tip (矩形) -->
                    <div id="u1163" class="ax_default label" data-label="tip">
                        <div id="u1163_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1164" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="u1126_state1" class="panel_state" data-label="注册" style="display: none; visibility: hidden;">
            <div id="u1126_state1_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u1165" class="ax_default box_1">
                    <div id="u1165_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1166" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1167" class="ax_default box_3">
                    <div id="u1167_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1168" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1169" class="ax_default label">
                    <div id="u1169_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1170" class="text" style="visibility: visible;">
                        <p><span>用户注册</span></p>
                    </div>
                </div>

                <!-- Unnamed (占位符) -->
                <div id="u1171" class="ax_default placeholder">
                    <img id="u1171_img" class="img " src="images/index/u631.png"/>
                    <!-- Unnamed () -->
                    <div id="u1172" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u1173" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u1174" class="ax_default box_1">
                        <div id="u1174_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1175" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- regist_input_password (文本框) -->
                    <div id="u1176" class="ax_default text_field" data-label="regist_input_password">
                        <input id="u1176_input" type="password" value=""/>
                    </div>
                </div>

                <!-- regist (矩形) -->
                <div id="u1177" class="ax_default box_1" data-label="regist">
                    <div id="u1177_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1178" class="text" style="visibility: visible;">
                        <p><span>注册</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u1179" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u1180" class="ax_default box_1">
                        <div id="u1180_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1181" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- regist_input_username (文本框) -->
                    <div id="u1182" class="ax_default text_field" data-label="regist_input_username">
                        <input id="u1182_input" type="text" value=""/>
                    </div>

                    <!-- Unnamed (图片) -->
                    <div id="u1183" class="ax_default image">
                        <img id="u1183_img" class="img " src="images/index/u613.png"/>
                        <!-- Unnamed () -->
                        <div id="u1184" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1185" class="ax_default label">
                    <div id="u1185_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1186" class="text" style="visibility: visible;">
                        <p><span>欢迎注册</span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u1187" class="ax_default image">
                    <img id="u1187_img" class="img " src="images/index/u652.png"/>
                    <!-- Unnamed () -->
                    <div id="u1188" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u1189" class="ax_default image">
                    <img id="u1189_img" class="img " src="images/index/u654.png"/>
                    <!-- Unnamed () -->
                    <div id="u1190" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- tip (组合) -->
                <div id="u1191" class="ax_default" data-label="tip">

                    <!-- tip_username_input (矩形) -->
                    <div id="u1192" class="ax_default label" data-label="tip_username_input">
                        <div id="u1192_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1193" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- tip_passwordinput (矩形) -->
                    <div id="u1194" class="ax_default label" data-label="tip_passwordinput">
                        <div id="u1194_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1195" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- tip_passwordinput_firm (矩形) -->
                    <div id="u1196" class="ax_default label" data-label="tip_passwordinput_firm">
                        <div id="u1196_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1197" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u1198" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u1199" class="ax_default box_1">
                        <div id="u1199_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1200" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- regist_input_firm_password (文本框) -->
                    <div id="u1201" class="ax_default text_field" data-label="regist_input_firm_password">
                        <input id="u1201_input" type="password" value=""/>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u1202" class="ax_default image">
                    <img id="u1202_img" class="img " src="images/index/u654.png"/>
                    <!-- Unnamed () -->
                    <div id="u1203" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- tip_rigest_success (矩形) -->
                <div id="u1204" class="ax_default label ax_default_hidden" data-label="tip_rigest_success"
                     style="display: none; visibility: hidden">
                    <div id="u1204_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1205" class="text" style="visibility: visible;">
                        <p><span>注册成功......</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div id="u1126_state2" class="panel_state" data-label="选择位置" style="display: none; visibility: hidden;">
            <div id="u1126_state2_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u1206" class="ax_default box_1">
                    <div id="u1206_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1207" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1208" class="ax_default box_3">
                    <div id="u1208_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1209" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1210" class="ax_default label">
                    <div id="u1210_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1211" class="text" style="visibility: visible;">
                        <p><span>位置选择</span></p>
                    </div>
                </div>

                <!-- Unnamed (占位符) -->
                <div id="u1212" class="ax_default placeholder">
                    <img id="u1212_img" class="img " src="images/index/u631.png"/>
                    <!-- Unnamed () -->
                    <div id="u1213" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- regist (矩形) -->
                <div id="u1214" class="ax_default box_1" data-label="regist">
                    <div id="u1214_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1215" class="text" style="visibility: visible;">
                        <p><span>确定</span></p>
                    </div>
                </div>

                <!-- Unnamed (组合) -->
                <div id="u1216" class="ax_default">

                    <!-- Unnamed (矩形) -->
                    <div id="u1217" class="ax_default box_1">
                        <div id="u1217_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1218" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- regist_input_username (文本框) -->
                    <div id="u1219" class="ax_default text_field" data-label="regist_input_username">
                        <input id="u1219_input" type="text" value=""/>
                    </div>
                </div>

                <!-- tip (组合) -->
                <div id="u1220" class="ax_default" data-label="tip">

                    <!-- tip_username_input (矩形) -->
                    <div id="u1221" class="ax_default label" data-label="tip_username_input">
                        <div id="u1221_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1222" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- tip_passwordinput (矩形) -->
                    <div id="u1223" class="ax_default label" data-label="tip_passwordinput">
                        <div id="u1223_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1224" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>

                    <!-- tip_passwordinput_firm (矩形) -->
                    <div id="u1225" class="ax_default label" data-label="tip_passwordinput_firm">
                        <div id="u1225_div" class=""></div>
                        <!-- Unnamed () -->
                        <div id="u1226" class="text" style="display: none; visibility: hidden">
                            <p><span></span></p>
                        </div>
                    </div>
                </div>

                <!-- Unnamed (图片) -->
                <div id="u1227" class="ax_default image">
                    <img id="u1227_img" class="img " src="images/index/u725.png"/>
                    <!-- Unnamed () -->
                    <div id="u1228" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 日期选择器 (动态面板) -->
    <div id="u1229" class="ax_default ax_default_hidden" data-label="日期选择器" style="display: none; visibility: hidden">
        <div id="u1229_state0" class="panel_state" data-label="State1">
            <div id="u1229_state0_content" class="panel_state_content">

                <!-- Unnamed (矩形) -->
                <div id="u1230" class="ax_default box_1">
                    <div id="u1230_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1231" class="text" style="display: none; visibility: hidden">
                        <p><span></span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1232" class="ax_default label">
                    <div id="u1232_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1233" class="text" style="visibility: visible;">
                        <p><span style="text-decoration:underline;">确定</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1234" class="ax_default label">
                    <div id="u1234_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1235" class="text" style="visibility: visible;">
                        <p><span style="text-decoration:underline;">取消</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1236" class="ax_default box_1" selectiongroup="日期选择">
                    <div id="u1236_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1237" class="text" style="visibility: visible;">
                        <p><span>今天&nbsp;&nbsp; 2019-05-09</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1238" class="ax_default box_1" selectiongroup="日期选择">
                    <div id="u1238_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1239" class="text" style="visibility: visible;">
                        <p><span>明天&nbsp;&nbsp; 2019-05-10</span></p>
                    </div>
                </div>

                <!-- Unnamed (矩形) -->
                <div id="u1240" class="ax_default box_1" selectiongroup="日期选择">
                    <div id="u1240_div" class=""></div>
                    <!-- Unnamed () -->
                    <div id="u1241" class="text" style="visibility: visible;">
                        <p><span>后天&nbsp;&nbsp; 2019-05-11</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript" src="/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        //搜索
        $("#u939").click(function () {
            var text = $("#u940_input").val();
            window.location.href = "/search/movie?text=" + text;
        });
    });
</script>
</html>
